# Package Manager

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/
.merlin
.bsb.lock
**/*.bs.js
**/*.mjs
lib/*
!lib/js
lib/js/*
!lib/js/src
coverage
.coveralls.yml
